/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
		zmk,physical-layout = &knob68_layout;
    };

    // Physical layout for ZMK Studio. Key order must match the transform map
    // below. Units are 1/100 keyunit; geometry is a close approximation.
    knob68_layout: knob68_layout {
        compatible = "zmk,physical-layout";
        display-name = "Knob68";
        transform = <&default_transform>;

        keys  //                     w   h    x    y   rot  rx  ry
            = <&key_physical_attrs 100 100    0    0    0    0   0>
            , <&key_physical_attrs 100 100  100    0    0    0   0>
            , <&key_physical_attrs 100 100  200    0    0    0   0>
            , <&key_physical_attrs 100 100  300    0    0    0   0>
            , <&key_physical_attrs 100 100  400    0    0    0   0>
            , <&key_physical_attrs 100 100  500    0    0    0   0>
            , <&key_physical_attrs 100 100  600    0    0    0   0>
            , <&key_physical_attrs 100 100  700    0    0    0   0>
            , <&key_physical_attrs 100 100  800    0    0    0   0>
            , <&key_physical_attrs 100 100  900    0    0    0   0>
            , <&key_physical_attrs 100 100 1000    0    0    0   0>
            , <&key_physical_attrs 100 100 1100    0    0    0   0>
            , <&key_physical_attrs 100 100 1200    0    0    0   0>
            , <&key_physical_attrs 200 100 1300    0    0    0   0>
            , <&key_physical_attrs 100 100 1650   50    0    0   0>
            , <&key_physical_attrs 150 100    0  100    0    0   0>
            , <&key_physical_attrs 100 100  150  100    0    0   0>
            , <&key_physical_attrs 100 100  250  100    0    0   0>
            , <&key_physical_attrs 100 100  350  100    0    0   0>
            , <&key_physical_attrs 100 100  450  100    0    0   0>
            , <&key_physical_attrs 100 100  550  100    0    0   0>
            , <&key_physical_attrs 100 100  650  100    0    0   0>
            , <&key_physical_attrs 100 100  750  100    0    0   0>
            , <&key_physical_attrs 100 100  850  100    0    0   0>
            , <&key_physical_attrs 100 100  950  100    0    0   0>
            , <&key_physical_attrs 100 100 1050  100    0    0   0>
            , <&key_physical_attrs 100 100 1150  100    0    0   0>
            , <&key_physical_attrs 100 100 1250  100    0    0   0>
            , <&key_physical_attrs 150 100 1350  100    0    0   0>
            , <&key_physical_attrs 175 100    0  200    0    0   0>
            , <&key_physical_attrs 100 100  175  200    0    0   0>
            , <&key_physical_attrs 100 100  275  200    0    0   0>
            , <&key_physical_attrs 100 100  375  200    0    0   0>
            , <&key_physical_attrs 100 100  475  200    0    0   0>
            , <&key_physical_attrs 100 100  575  200    0    0   0>
            , <&key_physical_attrs 100 100  675  200    0    0   0>
            , <&key_physical_attrs 100 100  775  200    0    0   0>
            , <&key_physical_attrs 100 100  875  200    0    0   0>
            , <&key_physical_attrs 100 100  975  200    0    0   0>
            , <&key_physical_attrs 100 100 1075  200    0    0   0>
            , <&key_physical_attrs 100 100 1175  200    0    0   0>
            , <&key_physical_attrs 225 100 1275  200    0    0   0>
            , <&key_physical_attrs 100 100 1550  200    0    0   0>
            , <&key_physical_attrs 100 100 1650  200    0    0   0>
            , <&key_physical_attrs 225 100    0  300    0    0   0>
            , <&key_physical_attrs 100 100  225  300    0    0   0>
            , <&key_physical_attrs 100 100  325  300    0    0   0>
            , <&key_physical_attrs 100 100  425  300    0    0   0>
            , <&key_physical_attrs 100 100  525  300    0    0   0>
            , <&key_physical_attrs 100 100  625  300    0    0   0>
            , <&key_physical_attrs 100 100  725  300    0    0   0>
            , <&key_physical_attrs 100 100  825  300    0    0   0>
            , <&key_physical_attrs 100 100  925  300    0    0   0>
            , <&key_physical_attrs 100 100 1025  300    0    0   0>
            , <&key_physical_attrs 100 100 1125  300    0    0   0>
            , <&key_physical_attrs 175 100 1225  300    0    0   0>
            , <&key_physical_attrs 100 100 1425  325    0    0   0>
            , <&key_physical_attrs 100 100 1550  300    0    0   0>
            , <&key_physical_attrs 100 100 1650  300    0    0   0>
            , <&key_physical_attrs 125 100    0  400    0    0   0>
            , <&key_physical_attrs 125 100  125  400    0    0   0>
            , <&key_physical_attrs 125 100  250  400    0    0   0>
            , <&key_physical_attrs 625 100  375  400    0    0   0>
            , <&key_physical_attrs 125 100 1000  400    0    0   0>
            , <&key_physical_attrs 125 100 1125  400    0    0   0>
            , <&key_physical_attrs 125 100 1250  400    0    0   0>
            , <&key_physical_attrs 100 100 1425  425    0    0   0>
            , <&key_physical_attrs 100 100 1525  425    0    0   0>
            , <&key_physical_attrs 100 100 1625  425    0    0   0>
            ;
    };
	
	kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 5 GPIO_ACTIVE_HIGH> // col 0
            , <&pro_micro 6 GPIO_ACTIVE_HIGH> // col 1
            , <&pro_micro 7 GPIO_ACTIVE_HIGH> // col 2
            , <&pro_micro 8 GPIO_ACTIVE_HIGH> // col 3
            , <&pro_micro 9 GPIO_ACTIVE_HIGH> // col 4
            , <&gpio1 01 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col 5
            , <&gpio1 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col 6
            , <&gpio1 07 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col 7
			, <&pro_micro 10 GPIO_ACTIVE_HIGH> // col 8
			, <&pro_micro 16 GPIO_ACTIVE_HIGH>// col 9
            , <&pro_micro 14 GPIO_ACTIVE_HIGH> // col 10
            , <&pro_micro 15 GPIO_ACTIVE_HIGH> // col 11
            , <&pro_micro 18 GPIO_ACTIVE_HIGH> // col 12
            , <&pro_micro 19 GPIO_ACTIVE_HIGH> // col 13
            ;

        row-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 0
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 1
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 2
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 3
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 4
            ;
    };
	
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <15>;
        rows = <5>;
// 69 key positions: a 65% base plus a right-hand cluster column and the encoder push.
// The cluster keys are wired on spare matrix positions, hence the out-of-order RC() refs.
// ---------------------------------------------------------------------------------------------------------
// | 0,0  | 0,1 | 0,2 | 0,3 | 0,4 | 0,5 | 0,6 | 0,7 | 0,8 | 0,9 | 0,10 | 0,11 | 0,12 | 0,13  || KNOB: 2,13 |
// | 1,0   | 1,1 | 1,2 | 1,3 | 1,4 | 1,5 | 1,6 | 1,7 | 1,8 | 1,9 | 1,10 | 1,11 | 1,12 | 1,13 |
// | 2,0    | 2,1 | 2,2 | 2,3 | 2,4 | 2,5 | 2,6 | 2,7 | 2,8 | 2,9 | 2,10 | 2,11 |    2,12    || 3,13 | 4,13 |
// | 3,0      | 3,1 | 3,2 | 3,3 | 3,4 | 3,5 | 3,6 | 3,7 | 3,8 | 3,9 | 3,10 | 3,11 | 3,12 || 4,7  | 4,6  |
// | 4,0  | 4,1  | 4,2  |              4,4               | 4,8  | 4,9  | 4,10 |  4,11 | 4,12  | 4,5  |
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3)  RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(2,13)
RC(1,0) RC(1,1) RC(1,2) RC(1,3)  RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13) 
RC(2,0) RC(2,1) RC(2,2) RC(2,3)  RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(3,13) RC(4,13)
RC(3,0) RC(3,1) RC(3,2)  RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(4,7) RC(4,6)
RC(4,0) RC(4,1) RC(4,2) RC(4,4) RC(4,8) RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,5)
        >;
    };
	
	left_encoder: encoder_left {
        compatible = "alps,ec11";
        label = "LEFT_ENCODER";
        a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <32>;
		status = "okay";
    };
		
	sensors {
		compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
	triggers-per-rotation = <32>;
    };
};
